/* hide from ie5/mac \*/ a{}
.foo {color:red}
/* necessary comment */

/* comment */

/* feed to ie5/mac \*//*/
@import "ie5mac.css";
/* necessary comment */

/* comment */

/*/ hide from nav4 */
.foo {display:block;}
/* necessary comment */

/* comment */

/*/ feed to nav *//*/
.foo {display:crazy;}
/* necessary comment */

/* comment */

div {
    width: 140px; 
    width/* */:/**/100px; 
    width: /**/100px;
}

html>/**/body {}