/* Test file to minify */

/* Minify copyright notice here... */

h1 {
    color: #00cc00;
    font-size: 20px;
}

ul, li {
    padding:0; 
    margin:0; 
    display:block;
    font-family: monospace;
}

#cssFail span {
    display: none;
}