@import url(adjacent.css?ver=1) screen;
@import "1/tv.css" tv, projection;
@import "../lib/css/example.css";
input foo { background: red url(/red.gif); }
input bar { background: url('../green.gif') }